{% extends "base.html" %}
{% load filters %}
{% block content %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
        </ol>
    </nav>
    {% if not total_applications %}
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="b">Your application summary</h6></div>
                    <div class="card-body">You have no applications.
                        <p><a href="{% url 'applications_list' %}">Submit your application here.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 col-md-4 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6 class="b">Your application summary</h6></div>
                    <div class="card-body">
                        {% for item in applications_zipper %}
                            {% if item.1 %}
                                <p>
                                    <b>{{ item.0 }}:</b> {{ item.1 }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="card-footer">
                        <p>
                            <b>Total applications:</b> {{ total_applications }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6>Applications chart</h6>
                    </div>
                    <canvas id="applications-chart" height="300">
                        <p>Application pie chart</p>
                    </canvas>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6>
                            Locations
                        </h6>
                    </div>
                    <div class="card-body">
                        {% for location, quantity  in locations_zipper %}
                            <p><b>{{ location }}:</b> {{ quantity }}</p>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="card-footer">
                        <p><b>Total locations:</b> {{ locations_total }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6>Locations chart</h6>
                    </div>
                    <canvas id="locations-chart" height="300">
                        <p>Technologies pie chart</p>
                    </canvas>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6>
                            Technologies
                        </h6>
                    </div>
                    <div class="card-body">
                        {% for technology, quantity  in technologies_zipper %}
                            <p><b>{{ technology }}:</b> {{ quantity }}</p>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="card-footer">
                        <p><b>Total technologies:</b> {{ total_technologies }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6>Technologies chart, %</h6>
                    </div>
                    <canvas id="technologies-chart" height=300">
                        <p>Technologies pie chart</p>
                    </canvas>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6>
                            Industries
                        </h6>
                    </div>
                    <div class="card-body">
                        {% for industry, quantity  in industries_zipper %}
                            <p><b>{{ industry }}:</b> {{ quantity }}</p>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="card-footer">
                        <p><b>Total industries:</b> {{ industries_total }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pb-2">
                <div class="card h-100">
                    <div class="card-header">
                        <h6>Industries chart, %</h6>
                    </div>
                    <canvas id="industries-chart" height="300">
                        <p>Industries chart</p>
                    </canvas>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
{% block javascript %}
    <script>
        var config_applications = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ applications_percentage|safe }},
                    backgroundColor: [
                        '#E6E1C5', '#D4CB92', '#395C6B', '#80A4ED', '#BCD3F2', '#ef8157',
                        '#17a2b8'
                    ],
                    label: "Applications"
                }],
                labels: {{ applications_labels|safe }}
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var label = data.labels[tooltipItem.index] || '';
                            var percentage = data.datasets[0].data[tooltipItem.index];
                            label += ": "
                            if (label) {
                                label += percentage + '%';
                            }
                            return label;
                        }
                    }
                }
            }
        };
        var config_technologies = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{ technologies_percentage|safe }},
                    backgroundColor: [
                        '#8C7522', '#E8D078', '#395C6B', '#A9D46E', '#8BB84E', '#40630F',
                        '#6C5810', '#6C1E10', '#C96755', '#E88978'
                    ],
                    label: "Technologies"
                }],
                labels: {{ technologies_labels|safe }}
            },
            options: {
                responsive: true,
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var label = data.labels[tooltipItem.index] || '';
                            var percentage = data.datasets[0].data[tooltipItem.index];
                            label += ": "
                            if (label) {
                                label += percentage + '%';
                            }
                            return label;
                        }
                    }
                }
            }
        };
        var config_locations = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ locations_data|safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    label: 'Locations'
                }],
                labels: {{ locations_labels|safe }}
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            stepSize: 1
                        }
                    }]
                }
            }
        };
        var config_industries = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ industries_percentage|safe }},
                    backgroundColor: [
                        '#8C7522', '#E8D078', '#395C6B', '#A9D46E', '#8BB84E', '#40630F',
                        '#6C5810', '#6C1E10', '#c96755', '#E88978'
                    ],
                    label: "Industries"
                }],
                labels: {{ industries_labels|safe }}
            },
            options: {
                responsive: true,
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var label = data.labels[tooltipItem.index] || '';
                            var percentage = data.datasets[0].data[tooltipItem.index];
                            label += ": "
                            if (label) {
                                label += percentage + '%';
                            }
                            return label;
                        }
                    }
                }
            }
        };
        window.onload = function () {
            var ctx = document.getElementById('applications-chart').getContext('2d');
            var ctx2 = document.getElementById('technologies-chart').getContext('2d');
            var ctx3 = document.getElementById('locations-chart').getContext('2d');
            var ctx4 = document.getElementById('industries-chart').getContext('2d');
            window.applicationsChart = new Chart(ctx, config_applications);
            window.technologiestChart = new Chart(ctx2, config_technologies);
            window.locationsChart = new Chart(ctx3, config_locations);
            window.industriesChart = new Chart(ctx4, config_industries);
        };
    </script>
{% endblock javascript %}