{% load widget_tweaks %}
<form method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title">Update job application</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% for field in form.hidden_fields %}
            <div class="form-group">
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <label for="{{ field.id_for_label }}" hidden>{{ field.label }}
                </label>
                {% render_field field class="form-control" %}
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="{% if form.date.errors %} invalid{% endif %}">
                {% for error in form.date.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <label for="{{ form.date.id_for_label }}">{{ form.date.label }}
            </label>
            <input class="form-control" type="date" id="{{ form.date.id_for_label }}" name="{{ form.date.name }}"
                   min="{{ form.fields.date.widget.attrs.min }}" max="{{ form.fields.date.widget.attrs.max }}"
                   value="{{ application.date|date:"Y-m-d" }}" required>
        </div>
        <div class="form-group">
            <div class="{% if form.company.errors %} invalid{% endif %}">
                {% for error in form.company.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <label for="{{ form.company.id_for_label }}">{{ form.company.label }}
            </label>
            <select name="{{ form.company.name }}" class="form-control" required id="{{ form.company.id_for_label }}">
                {% for pk, choice in form.company.field.widget.choices %}
                    <option value="{{ pk }}" {% if choice == application.company.name %}selected{% endif %}>{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div class="{% if form.position.errors %} invalid{% endif %}">
                {% for error in form.position.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <label for="{{ form.position.id_for_label }}">{{ form.position.label }}
            </label>
            <input class="form-control" value="{{ application.position }}" id="{{ form.position.id_for_label }}"
                   type="text" name="{{ form.position.name }}" maxlength="{{ form.position.fields.attrs.max_length }}"
                   required>
        </div>
        <div class="form-group">
            <div class="{% if form.portal.errors %} invalid{% endif %}">
                {% for error in form.portal.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <label for="{{ form.portal.id_for_label }}">{{ form.portal.label }}
            </label>
            <input class="form-control" value="{{ application.portal }}" id="{{ form.portal.id_for_label }}" type="text"
                   name="{{ form.portal.name }}" maxlength="{{ form.portal.fields.attrs.max_length }}">
        </div>
        <div class="form-group">
            <div class="{% if form.status.errors %} invalid{% endif %}">
                {% for error in form.status.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <label for="{{ form.status.id_for_label }}">{{ form.status.label }}
            </label>
            <select name="{{ form.status.name }}" class="form-control" id="{{ form.status.id_for_label }}">
                {% for enum, choice in form.status.field.widget.choices %}
                    <option value="{{ enum }}" {% if enum == application.status %} selected{% endif %}>{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="submit-btn btn btn-primary">Update</button>
    </div>
</form>