{% extends "base.html" %}
{% block content %}
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">Add new company
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="{% url "companies_list" %}">Companies</a></li>
                <li class="active">Add new company</li>
            </ol>
        </div>
        <div id="page-inner">
                       <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="card-title">
                                        <div class="title">Form Elements</div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    Examples of standard form controls. such as input, textarea, select, checkboxes and radios , static control, etc.
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="col col-lg-6">
                                        {{ form.non_field_errors }}
                                        {{ form.name.errors }}
                                        <p>{{ form.name.label }}</p>
                                        {{ form.name }}
                                    </div>
                                    <div class="col col-lg-6">
                                        {{ form.non_field_errors }}
                                        {{ form.industry.errors }}
                                        <p>{{ form.industry.label }}</p>
                                        {{ form.industry }}
                                    </div>
                                    <div class="col col-lg-6">
                                        {{ form.non_field_errors }}
                                        {{ form.technologies.errors }}
                                        <p>{{ form.technologies.label }} <a href="{% url "companies_add_technology" %}" id="add_field" class="btn btn-default btn-sm">+</a>
                                        {{ form.technologies }}
                                    </div>
                                    <div class="col col-lg-6">
                                        {{ form.non_field_errors }}
                                        {{ form.established_year.errors }}
                                        <p>{{ form.established_year.label }}</p>
                                        {{ form.established_year }}
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <script>

    </script>
{% endblock content %}
