{% extends "base.html" %}
{% block content %}
{% load static %}
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">Content manager
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Content manager</li>
            </ol>
        </div>
        <div id="page-inner">
            <div class="panel panel-default col-lg-6">
                <div class="panel-heading col-lg-12">Technologies
                    <button type="button" id="technology-create" class="btn btn-primary btn-xs">add
                    </button>
                </div>
                <div class="panel-body">
                    <div class="table-responsive col-lg-12">
                        <table class="table table-striped table-bordered table-hover table-responsive"  id="technology-table">
                            <thead>
                            <tr>
                                <th class="col-lg-10">Name</th>
                                <th class="col-lg-2">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                    {% for technology in technologies %}
                                        {% if forloop.counter|divisibleby:2 %}
                                            <tr class="even gradeX">
                                        {% else %}
                                            <tr class="even gradeX">
                                        {% endif %}
                                            <td>{{ technology.name }}</td>
                                            <td>
                                                <button type="button" id="technology-update" class="bs-modal btn btn-xs btn-primary" data-form-url="{% url 'technology_update' technology.id %}">
                                                    <span class="fa fa-pencil"></span>
                                                </button>
                                                <button type="button" id="technology-delete" class="btn btn-danger btn-xs bs-modal" data-form-url="{% url 'technology_delete' technology.id %}"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center bg-warning">No technology</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            {#  MODAL #}
            <!-- Modal 2 with id="modal" -->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
              <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
              </div>
            </div>
            <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
            <div class="panel panel-default col-lg-6">
                <div class="panel-heading col-lg-12">Industries  <button type="button" class="btn btn-primary btn-xs" id="industry-create">add</button>
                </div>
                <div class="panel-body">
                    <div class="table-responsive col-lg-12">
                            <table class="table table-striped table-bordered table-hover table-responsive" id="industries">
                                <thead>
                                    <tr>
                                        <th class="col-lg-10">Name</th>
                                        <th class="col-lg-2">Actions</th>
                                    </tr>
                                </thead>
                        <tbody>
                        {% for industry in industries %}
                            {% if forloop.counter|divisibleby:2 %}
                                <tr class="even gradeX">
                                    {% else %}
                                <tr class="even gradeX">
                            {% endif %}
                        <td>{{ industry.name }}</td>
                        <td>
                            <button type="button" id="industry-update" class="bs-modal btn btn-xs btn-primary" data-form-url="{% url 'industry_update' industry.id %}">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="button" id="industry-delete" class="btn btn-danger btn-xs bs-modal" data-form-url="{% url 'industry_delete' industry.id %}">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center bg-warning">No industry</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $(".bs-modal").each(function () {
            $(this).modalForm({formURL: $(this).data('form-url')
            });
        });
        $("#technology-create").modalForm({
            formURL: "{% url 'technology_create' %}",
            modalID: "#create-modal"
        });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".bs-modal").each(function () {
            $(this).modalForm({formURL: $(this).data('form-url')
            });
        });
        $("#industry-create").modalForm({
            formURL: "{% url 'industry_create' %}",
            modalID: "#create-modal"
        });
        });
    </script>
{% endblock javascript %}